.treatment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  padding: 12px 20px;
  border: 1px solid gray;
  width: 500px;
  margin-bottom: 20px;
}

.treatment p {
  flex: 1;
  font-size: 14px;
}
