.protocols {
  position: relative;
}

.protocols__sidebar {
  position: fixed;
  left: 0;
  padding: 20px;
  padding-top: 30px;
  width: 400px;
  border-right: 1px solid black;
  height: 100vh;
  overflow: scroll;
}

.protocols__sidebarLists {
  display: flex;
  flex-direction: column;
}

.protocols__filter {
  position: absolute;
  right: 10px;
  top: 20px;
}

.protocols__filterItem {
  padding: 2px 0;
  font-size: 12px;
}
