.avatarContainer {
  background-color: #93a1af;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.avatarContainer:hover {
  background-color: rgb(86, 255, 165);
}
