@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

@layer components {
  .form-row {
    @apply my-2;
  }
  .form-label {
    @apply text-sm ml-2 mb-1;
  }
  .form-input {
    @apply w-full rounded-3xl py-3 px-4;
  }
  .form-actions {
    @apply w-full flex items-center justify-center;
  }
  .form-proceed-button {
    @apply has-transition mx-auto bg-primary text-white rounded-full py-2 px-8 cursor-pointer hover:bg-primary-dark disabled:bg-gray;
  }
  .card {
    @apply border border-gray rounded-3xl shadow-md;
  }
  .has-transition {
    @apply transition-all transform duration-200 ease-in-out;
  }
  .modal-button {
    @apply has-transition w-[100px] cursor-pointer text-white rounded-full py-2 text-sm;
  }
  .button {
    @apply has-transition cursor-pointer shadow-md font-normal disabled:bg-gray-disabled disabled:text-gray disabled:cursor-default disabled:hover:bg-gray-disabled text-base;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

input,
textarea,
select {
  border: 1px solid gray;
  font-size: 14px;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  overflow-y: scroll; /* Always show the vertical scrollbar */
}

/* Hide the horizontal scrollbar */
body::-webkit-scrollbar {
  /* height: 0; */
  /* background: transparent; */
}

/* Prevent horizontal scrolling */
body {
  max-width: 100vw;
  overflow-x: hidden;
}
